body{
    margin: 0 auto;
    background:white;
}

.items{
    margin:0 auto;
    background: blue;
    font-size: 11px;
    style: cursive;
    color: white;
}
.cart-row{
    color: #ff0;
}

.panel-body{
    display: table;
    margin: 0 auto;
}

h2{

    margin :0 auto;
}
